.service {
	overflow-x: hidden;
	margin-top: 147px;
}
.service__item {
	position: relative;
	@include flex-starter;
	justify-content: space-between;
}
.service__item-main {
	width: 445px;
	margin-right: 50px;
}

.box {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		right: -170px;
		bottom: 0;
		width: 740px;
		height: 150px;
		background-image: url('../../images/item-before.svg');
		z-index: 1;
	}

	&::after {
		content: '';
		position: absolute;
		right: -510px;
		bottom: 0;
		width: 445px;
		height: 445px;
		background-image: url('../../images/item-after.png');
	}
}
.service__item-title {
	color: #495567;
	font-family: monospace;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 48px; /* 100% */
	letter-spacing: -2.143px;
}
.service__item-text {
	color: #939caa;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px; /* 166.667% */
	margin-top: 24px;
	margin-bottom: 40px;
}
.service__item-link {
	display: inline-block;
	background-color: #fcb72b;
	padding: 14px 44px;
	text-decoration: none;
	color: #fff;
}

@media only screen and (max-width: 768px) {
	.service {
		overflow-x: hidden;
	}
	.service__item {
		flex-direction: column-reverse;
	}

	.service__item-main {
		width: 100%;
		text-align: center;
		margin-right: 0;
	}

	.service__item-img {
		margin-bottom: 56px;
	}
}

@media only screen and (max-width: 500px) {
	.box {
		&::before {
			left: 20px;
		}
	}
	.service__item-img {
		max-width: 100%;
	}

	.service__item-title {
		font-size: 32px;
		letter-spacing: -1.429px;
	}
}
