.section2 {
    overflow-x: hidden;
    position: relative;
  }
  
  .section2::before {
    content: "";
    position: absolute;
    top: 78px;
    left: calc(50% + 355px);
    width: 741px;
    height: 151px;
    z-index: 2;
    background-image: url("../../images/vector-left.svg");
    background-size: 741px 151px;
    background-repeat: no-repeat;
  }
  
  .section2::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% + 617px);
    width: 445px;
    height: 445px;
    z-index: -1;
    background-image: url("../../images/square-blue.png");
    background-size: 445px;
    background-repeat: no-repeat;
  }
  
  .section2__inner {
    display: flex;
    align-items: center;
    max-width: 1106px;
    justify-content: space-between;
  }
  
  .section2__main {
    width: 445px;
  }
  
  .section2__main-heading {
    color: #495567;
    margin: 0;
    font-family: "Space Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.143px;
  }
  
  .section2__main-text {
    color: #939caa;
    font-family: "Lexend Deca";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  
  .section2__main-link {
    color: #fff;
    text-align: center;
    font-family: "Space Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 167%;
    display: inline-block;
    background: #fcb72b;
    padding: 14px 45px;
    text-decoration: none;
    border: 3px solid transparent;
  }
  
  .section2__main-link:hover {
    border: 3px solid #fcb72b;
    cursor: pointer;
    background-color: transparent;
    color: #fcb72b;
  }
  
  .section2__inner-img {
    width: 445px;
    height: 445px;
    border-radius: 50%;
  }
  
  @media only screen and (max-width: 768px) {
    .section2 {
      overflow-x: hidden;
  
      &::before {
        top: 20px;
        left: calc(50% + 0px);
      }
  
      &::after {
        top: 20px;
        left: calc(50% + 320px);
      }
    }
  
    .section2__inner:nth-child(odd) {
      flex-direction: column-reverse;
      max-width: 768px;
      width: 100%;
    }
  
    .section2__main {
      width: 100%;
      max-width: 573px;
      text-align: center;
    }
  
    .section2__main-heading {
      color: #495567;
      width: 100%;
      max-width: 457px;
      margin: 0;
      margin: 0 auto;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: -2.143px;
      margin-top: 64px;
    }
  
    .section2__main-text {
      max-width: 573px;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  
  @media only screen and (max-width: 440px) {
    .section2 {
      overflow-x: hidden;
  
      &::before {
        width: 735px;
        height: 138px;
        top: 60px;
        left: calc(50% - 5px);
        background-size: 735px 138px;
      }
  
      &::after {
        content: none;
      }
    }
  
    .section2__inner:nth-child(odd) {
      flex-direction: column-reverse;
      max-width: 768px;
      width: 100%;
    }
  
    .section2__main {
      width: 100%;
      max-width: 376px;
      text-align: center;
    }
  
    .section2__main-heading {
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
      color: #495567;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: -1.429px;
    }
  
    .section2__main-text {
      color: #939caa;
      width: 100%;
      max-width: 376px;
      margin: 0 auto;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 167%;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  
    .section2__inner-img {
      width: 100%;
      max-width: 376px;
      height: 376px;
      margin-bottom: 56px;
    }
  }