.hassle {
  position: relative;
  overflow-x: hidden;
}
.hassle::before {
  content: "";
  position: absolute;
  top: 78px;
  left: calc(50% + 355px);
  width: 741px;
  height: 151px;
  z-index: 2;
  background-image: url("../../images/vector-left.svg");
  background-size: 741px 151px;
  background-repeat: no-repeat;
}
.hassle::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% + 617px);
  width: 445px;
  height: 445px;
  z-index: -1;
  background-image: url("../../images/square-blue.png");
  background-size: 445px;
  background-repeat: no-repeat;
}
.hassle__inner {
  display: flex;
  align-items: center;
  max-width: 1106px;
  width: 100%;
  justify-content: space-between;
}
.hassle__main {
  max-width: 445px;
  width: 100%;
}
.hassle__main-heading {
  color: #495567;
  margin: 0;
  font-family: "Space Mono";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2.143px;
}
.hassle__main-text {
  color: #939caa;
  font-family: "Lexend Deca";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
  margin-top: 24px;
  margin-bottom: 40px;
}
.hassle__main-link {
  color: #fff;
  text-align: center;
  font-family: "Space Mono";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 167%;
  display: inline-block;
  background: #fcb72b;
  padding: 14px 45px;
  text-decoration: none;
  border: 3px solid transparent;
}
.hassle__main-link:hover {
  border: 3px solid #fcb72b;
  cursor: pointer;
  background-color: transparent;
  color: #fcb72b;
}
.hassle__inner-img {
  width: 445px;
  height: 445px;
  border-radius: 50%;
}
@media only screen and (max-width: 1200px) {
  .hassle {
    &::before {
      content: none;
    }
    &::after {
      content: none;
    }
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 1140px) {
  .hassle__inner {
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    gap: 70px;
  }
}
@media only screen and (max-width: 900px) {
  .telementry__inner-img {
    width: 425px;
    height: 425px;
  }
  .hassle__inner {
    gap: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .hassle {
    &::before {
      top: 300px;
      left: calc(50% - 300px);
    }
    &::after {
      top: 20px;
      left: calc(50% + 320px);
    }
    overflow-x: hidden;
  }
  .hassle__inner:nth-child(odd) {
    flex-direction: column-reverse;
    max-width: 768px;
    width: 100%;
  }
  .hassle__main {
    width: 100%;
    max-width: 573px;
    text-align: center;
  }
  .hassle__main-heading {
    color: #495567;
    max-width: 457px;
    width: 100%;
    margin: 0;
    margin: 0 auto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.143px;
    margin-top: 64px;
  }
  .hassle__main-text {
    max-width: 573px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 440px) {
  .hassle {
    &::before {
      width: 735px;
      height: 138px;
      top: 30px;
      left: calc(50% - 70px);
      background-size: 735px 138px;
    }
    &::after {
      content: none;
    }
    overflow-x: hidden;
  }
  .hassle__inner:nth-child(odd) {
    flex-direction: column-reverse;
    max-width: 440px;
    width: 100%;
  }
  .hassle__main {
    width: 100%;
    max-width: 376px;
    text-align: center;
  }
  .hassle__main-heading {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    color: #495567;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.429px;
  }
  .hassle__main-text {
    color: #939caa;
    max-width: 376px;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .hassle__inner-img {
    width: 376px;
    height: 376px;
    margin-bottom: 56px;
  }
}
@media only screen and (max-width: 375px) {
  .hassle__inner-img {
    width: 320px;
    height: 320px;
    margin-bottom: 56px;
  }
}