.city {
  position: relative;
  margin-top: 156px;
  margin-bottom: 160px;
  overflow-x: hidden;
}
.city::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 1090px);
  width: 735px;
  height: 138px;
  z-index: 2;
  background-image: url("../../images/vector-right.svg");
  background-size: 735px 138px;
  background-repeat: no-repeat;
}
.city::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 1062px);
  width: 445px;
  height: 445px;
  z-index: -1;
  background-image: url("../../images/square-blue.png");
  background-size: 445px;
  background-repeat: no-repeat;
}
.city__inner {
  display: flex;
  align-items: center;
  max-width: 1106px;
  width: 100%;
  justify-content: space-between;
}
.city__inner-img {
  width: 445px;
  height: 445px;
}
.city__main {
  width: 445px;
}
.city__main-heading {
  color: #495567;
  margin: 0;
  font-family: "Space Mono";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2.143px;
}
.city__main-text {
  color: #939caa;
  font-family: "Lexend Deca";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
  margin-top: 24px;
  margin-bottom: 40px;
}
.city__main-link {
  color: #fff;
  text-align: center;
  font-family: "Space Mono";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 167%;
  display: inline-block;
  background: #fcb72b;
  padding: 14px 45px;
  text-decoration: none;
  border: 3px solid transparent;
}

@media only screen and (max-width: 1200px) {
  .city {
    &::before {
      content: none;
    }
    &::after {
      content: none;
    }
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 1140px) {
  .city__inner {
    max-width: 1000px;
    width: 100%;
    justify-content: center;
    gap: 100px;
  }
}
@media only screen and (max-width: 900px) {
  .city__inner-img {
    width: 425px;
    height: 425px;
  }
  .city__inner {
    gap: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .city {
    &::before {
      top: 0;
      left: calc(50% - 730px);
    }
    &::after {
      top: 0;
      left: calc(50% - 720px);
    }
    overflow-x: hidden;
  }
  .city__inner:nth-child(odd) {
    flex-direction: column;
    max-width: 768px;
    width: 100%;
  }
  .city__main {
    width: 100%;
    max-width: 573px;
    text-align: center;
  }
  .city__main-heading {
    color: #495567;
    max-width: 457px;
    width: 100%;
    margin: 0;
    margin: 0 auto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.143px;
    margin-top: 64px;
  }
  .city__main-text {
    max-width: 573px;
    width: 100%;
  }
}
@media only screen and (max-width: 440px) {
  .city {
    &::before {
      width: 735px;
      height: 138px;
      top: 60px;
      left: calc(50% - 625px);
      background-size: 735px 138px;
    }
    &::after {
      content: none;
    }
    overflow-x: hidden;
  }
  .city__inner:nth-child(odd) {
    flex-direction: column;
    max-width: 440px;
    width: 100%;
  }
  .city__main {
    max-width: 376px;
    text-align: center;
  }
  .city__main-heading {
    color: #495567;
    max-width: 376px;
    width: 100%;
    margin: 0 auto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.429px;
  }
  .city__main-text {
    color: #939caa;
    max-width: 376px;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .city__inner-img {
    width: 376px;
    height: 376px;
    margin-bottom: 56px;
  }
}
@media only screen and (max-width: 375px) {
  .city__inner-img {
    max-width: 320px;
    width: 100%;
    height: 320px;
    margin-bottom: 56px;
  }
}